::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #f4579e; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #f4579e; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #f4579e; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #f4579e; }

html, body {
  background-color: #1c1829; }

a {
  color: #f4579e; }
  a:hover {
    color: #6f0a2d;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out; }

.inline-list > li > a {
  display: inline; }

input[type="url"] {
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent; }
  input[type="url"]:focus {
    background: none;
    border: none;
    border-color: transparent;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

footer.row {
  margin-top: 100px; }
  footer.row iframe {
    margin-left: 116px;
    display: none; }

body {
  font-family: 'Inconsolata', courier, sans-serif;
  color: #f4579e; }

i.icon-copy {
  cursor: pointer; }

.method-select {
  margin-top: 200px;
  margin-left: 332px; }
  .method-select .button {
    background-color: #72c3f6; }
  .method-select .button.active {
    background-color: #5d9ec7;
    color: #6f0a2d; }

input[type="url"] {
  padding: 18px;
  font-size: 2em;
  color: #f4579e;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  background-color: transparent; }
  input[type="url"]:focus {
    background: none;
    border: none;
    border-color: transparent;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  input[type="url"]:hover {
    border-color: #eee; }
  input[type="url"].input-url {
    margin-top: 20px; }
  input[type="url"].output-url {
    margin-top: 70px; }
