$background: #1c1829;
$foreground: #f4579e;
$foreground_dark: #09c2ff;
$foreground_secondary: #72c3f6;
$foreground_secondary_dark: #5d9ec7;

@import "application/overrides";
@import "application/footer";

body {
  font-family: 'Inconsolata', courier, sans-serif;
  color: $foreground;
}

.row {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

i.icon-copy {
  cursor: pointer;
}


.method-select {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
  font-size: 3em;
  .button {
    text-decoration: none;
  }
  .button.active {
    text-decoration: underline;
  }
}

.output-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  width: 500px;
}

#copy-to-clipboard {
  display: inline-block;
}

input[type="url"] {
  padding: 18px;
  font-size: 2em;
  color: $foreground;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  background-color: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  &:focus {
    background: none;
    border: none;
    border-color: transparent;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:hover {
    border-color: #eee;
  }
  &.input-url {
    margin-top: 20px;
  }
  &.output-url {
    margin-top: 70px;
    display: inline-block;
  }
}
