<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    Decode or Encode URL Strings | urldecode.dakotahpena.dev
  </title>
  <meta name="description" content="Decode or encode URL strings from APIs. Or whatever">
  <meta name="google-site-verification" content="hB6Q_GIiFTkyXpLycD5jJf-_Fz7oE9Sg8sutXTE_QZI" />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/application.css">

  <script async defer data-website-id="d7e9dab2-7af9-4f6c-895a-3a2789af62a4" src="https://analytics.dakotahpena.dev/umami.js"></script>
</head>
<body>
  <div id="root">
    {{ content }}
  </div>

  <footer class="row text-center">
    <a href="http://dakotahpena.studio">Made in Coeur d'Alene</a> &middot;
    <a href="https://github.com/dakotahp/urldecode.dakotahpena.dev" title="Source code on GitHub">Source code</a>
  </footer>

  <script src="javascripts/webtoolkit.url.js"></script>
  <script type="text/javascript" src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>
