<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Decode or Encode URL Strings | urldecode.io</title>
  <meta name="description" content="Decode or encode URL strings from APIs. Or whatever">
  <meta name="google-site-verification" content="hB6Q_GIiFTkyXpLycD5jJf-_Fz7oE9Sg8sutXTE_QZI" />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/application.css">
</head>
<body>
  {{ content }}

  <footer class="row text-center">
    <a href="http://viscera.la">Made by Viscera</a> &middot;
    <a href="https://github.com/adr-enal-in/urldecode.io" title="Source code on GitHub">Source code</a>
  </footer>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="javascripts/webtoolkit.url.js"></script>
  <script src="javascripts/jquery.zclip.min.js"></script>
  <script src="javascripts/application.js"></script>

  <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '527ad472613f5d0c5b0000c0');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>
