<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Decode or Encode URL Strings | urldecode.io</title>
  <meta name="description" content="Decode or encode URL strings from APIs. Or whatever">
  <meta name="google-site-verification" content="hB6Q_GIiFTkyXpLycD5jJf-_Fz7oE9Sg8sutXTE_QZI" />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/application.css">
</head>
<body>
  <div id="root">
    {{ content }}
  </div>

  <footer class="row text-center">
    <a href="http://dakotah.pena.name">Made in Coeur d'Alene</a> &middot;
    <a href="https://github.com/dakotahp/urldecode.io" title="Source code on GitHub">Source code</a>
  </footer>

  <script src="javascripts/webtoolkit.url.js"></script>
  <script type="text/javascript" src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>
